#Background{
    -fx-background-color: #FFFF;
    -fx-background-radius: 20px;
}

.fields{
    -fx-background-color: #b7b7b7;
    -fx-border-radius: 6px;
    -fx-border-width: 1px;
    -fx-border-color: rgba(0, 0, 0, 0.2);
    -fx-background-radius: 6px;
}

.text-area .content{
    -fx-background-color: #b7b7b7;
    -fx-background-radius: 0px;
}

.text-area{
    -fx-background-color: #b7b7b7;
    -fx-border-radius: 6px;
    -fx-border-width: 1px;
    -fx-border-color: rgba(0, 0, 0, 0.2);
    -fx-background-radius: 6px;
}

.button{
    -fx-text-fill: #FFF;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
}

.greenButton{
    -fx-background-color: #52B149;
}

.greenButton:hover{
    -fx-background-color: #256420;
}

.orangeButton{
    -fx-background-color: #ffa552;
}

.orangeButton:hover{
    -fx-background-color: #9d6823;
}